.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  
    height: 100dvh;
    .form {
        flex-direction: column;
        display: flex;
        gap: 15px;
        box-shadow: -6px 14px 20px 0 #e7dede; 
        border-radius: 12px;
        justify-content: center;
        padding: 73px;
    }
}
